body {
    font-family: Arial;
    background: yellow;
    /* display: flex;
    justify-content: center;
    margin-top: 40px; */
}
.control-panel {
    background: green;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
}
.control-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
button {
    padding: 15px;
    font-size: 16px;
}
.stop-btn {
    background: red;
}
.speed-control {
    margin-top: 20px;
}